<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wedge.wedgesdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".sdk.WebViewActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.OnboardingSDK.EdgeToEdge" />
    </application>
</manifest>
