<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wedge.wedgesdk">
    <application>
        <activity
            android:name=".sdk.WebViewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>